@font-face {
    font-family: 'telegrafultrabold';
    src: url('https://files-nuximart.sgp1.cdn.digitaloceanspaces.com/nuxify-website%2Ffonts%2FPPTelegraf-UltraBold.otf');

}

@font-face {
    font-family: 'telegraf';
    src: url('https://files-nuximart.sgp1.cdn.digitaloceanspaces.com/nuxify-website%2Fcold-emails-files%2FPPTelegraf-Regular.otf');

}